.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

#optionsPane {
    -fx-background-color: #414141;
}

#options:hover, #skip:hover, #play:hover, #close:hover {
    -fx-opacity: 0.7;
}

#placeholderText {
    -fx-font-family: "Source Code Pro";
}